.swiper-button-next {
	right: 20%;
	box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.5);
}
.swiper-button-prev {
	left: 20%;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.swiper-button-next,
.swiper-button-prev {
	color: #fff;
	background-color: #fe2828;
	width: 55px;
	height: 55px;
	border-radius: 100%;
	position: absolute;
	top: 80%;
	margin-top: 5px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
	width: fit-content;
	height: fit-content;
	--swiper-navigation-size: 25px;
}
