.swiper-button-next {
	box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.5);
}
.swiper-button-prev {
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.swiper-button-next,
.swiper-button-prev {
	color: #fff;
	background-color: #fe2828;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	top: 50%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
	width: fit-content;
	height: fit-content;
	--swiper-navigation-size: 25px;
}

.swiper-pagination {
	padding: 25px 0;
	position: static;
}

@media all and (max-width: 770px) {
	.swiper-button-next,
	.swiper-button-prev {
		display: none;
	}
}
