.swiper-button-next {
	box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.5);
}
.swiper-button-prev {
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.swiper-button-next,
.swiper-button-prev {
	color: #fff;
	background-color: #fe2828;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	top: 50%;
	transition: transform 0.04s linear 0.04s;
}

.swiper-button-next::after,
.swiper-button-prev::after {
	width: fit-content;
	height: fit-content;
	--swiper-navigation-size: 25px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
	transform: scale(1.1);
}

.swiper-button-next:active,
.swiper-button-prev:active {
	transform: scale(0.9);
}

.swiper-pagination {
	padding: 25px 0;
	position: static;
}

.dark .swiper-pagination-bullet {
	background-color: #ddd;
}

@media all and (max-width: 770px) {
	.swiper-button-next,
	.swiper-button-prev {
		display: none;
	}
}
